<!DOCTYPE html>
<html lang="en">
	<%- include('head') -%>
	<body>
		<link rel="stylesheet" href="styles/404.css">
		<div class="outer">
			<div class="columns" id="top">
				<a class="columns" href="/">
					<img src="images/m3u-vert-black-404.png" />
				</a>
			</div>
			<div id="content">
				<div id="letters">
				<h1>4</h1>
				<h1>0</h1>
				<h1>4</h1>
				</div>
				<p>
					Nothing to see here.
				</p>
				<!-- <p>
					Pov: you are are looking at the source code trying to find an easter egg that does not exist. While you are here, you might want to hop on over to twitter and shoot me a message. As a reward for successfully finding this comment block, go to /cutepuppy
				</p> -->
			</div>
		</div>
	</body>
</html>
