<!DOCTYPE html>
<html lang="en">
	<%- include('head') -%>
	<body>
		<style>
			p {
				width: 50%;
				margin: auto;
				font-family: sans-serif;
			}
		</style>
		<div class="outer">
			<div class="columns" id="top">
				<a class="columns" href="/">
					<img src="images/linkastream.png" />
				</a>
			</div>
			<p style="margin-top: 1em">Service is temporarily down for maintainance. We will be back soon.</p>
		</div>
	</body>
</html>
