<!DOCTYPE html>
<html lang="en">
	<%- include('head') -%>
	<body>
		<style>
			p{
				width: 50%;
				margin: auto;
				font-family: sans-serif;
			}
		</style>
		<div class="outer">
			<div class="columns" id="top">
				<a class="columns" href="/">
					<img src="images/linkastream.png" />
				</a>
			</div>
			<p style="margin-top: 1em;">
				This is a free tool used to get streaming links for video on different platforms. You can use the link in an m3u8 playlist or open in a media player on devices not supported by the platform. For example, if you want to watch a video on a twitch stream, but your tv does not support twitch.
			</p>
			<p>
				Disclaimer: We do not host or retransmit the streams. We only provide a direct url to access them elsewhere. 	
			</p>
			<p style="padding-top: 5%;">
				Made by <a href="https://github.com/keystroke3">Keystroke3</a>
			</p>
			<p>
				Twitter: <a href="https://twitter.com/keystroke_3">@Keystroke_3</a>
			</p>
		</div>
	</body>
</html>
