<%- include ('head') -%> 
<div style="width: 70vw; height: 80vh; margin: auto;" >

<iframe width="800px" height="700" src="https://www.youtube-nocookie.com/embed/j5a0jTc9S10?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>