<!DOCTYPE html>
<html lang="en">
	<%- include('head') -%>
	<body>
		<link rel="stylesheet" type="text/css" href="styles/donate.css" />
		<div class="outer">
			<div class="columns" id="top">
				<a class="columns" href="/">
					<img src="images/linkastream.png" />
				</a>
				<p>You donations help keep the site up. Thank you.<br>
				Please contact me on twitter <a href="https://twitter.com/keystroke_3">@keystroke_3</a> so I can thank you and add your name to the list of donors at your discretion.
				</p>
			</div>
			<div class="donations">
				<ul id="paylinks">
					<li class="finance">
						<a href="https://liberapay.com/keystroke3/donate">
							<img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg" />
						</a>
					</li>
					<li class="finance">
						<img src="images/bitcoin.jpg" alt="bitcoin-logo" />
						<p>bc1qhhka0ufhnnau6ldythfqk5gacuz32ssdvt57nj</p>
					</li>

					<li class="finance">
						<img src="images/ethereum.jpg" alt="ethereum-logo" />
						<p>0x3451cAB3145f80594A454b602C2F23D80A70F114</p>
					</li>
					<li class="finance">
						<img src="images/monero.jpg" alt="monero-logo" />
						<p>
							4Am39MqDhQe6yCZKjoGSkhWQEP2GNen3FQDUCxk9tcqXiToHCJzMYR64bueBt6z8L67uR5HwTBZeV1ZxWJjTdhRc8Rzft6U
						</p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
