<!DOCTYPE html>
<html lang="en">
	<%- include('head') -%>
	<body>
		<link rel="stylesheet" href="styles/history.css" />
		<div class="outer">
			<div class="columns" id="top">
				<a class="columns" href="/">
					<img src="images/linkastream.png" />
				</a>
			</div>
			<div id="content">
				<table id="hist-table">
					<tr>
						<th>Query Url</th>
						<th>Time</th>
						<th>Stream Link</th>
						<th></th>
					</tr>
				</table>
				<script>
					genHistTable()
				</script>
			</div>
		</div>
	</body>
</html>
