<!DOCTYPE html>
<html lang="en">
	<%- include('head') -%>
	<body>
		<link rel="stylesheet" href="styles/history.css" />
		<div class="outer">
			<div class="columns" id="top">
				<a class="columns" href="/">
					<img src="images/linkastream.png" />
				</a>
			</div>
			<div id="content">
				<table id="hist-table">
					<thead>
						<tr>
							<th class="sort-asc" onclick="sortTableByColumn('hist-tbody', 0)">
								Query Url
								<span class="material-icons-outlined">north</span>
								<span class="material-icons-outlined">south</span>
							</th>
							<th class="sort-desc" onclick="sortTableByColumn('hist-tbody', 1)">
								Time
								<span class="material-icons-outlined">north</span>
								<span class="material-icons-outlined">south</span>
							</th>
							<th class="sort-asc" onclick="sortTableByColumn('hist-tbody', 2)">
								Stream Link
								<span class="material-icons-outlined">north</span>
								<span class="material-icons-outlined">south</span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="hist-tbody"></tbody>
				</table>
				<script>
					genHistTable();
				</script>
			</div>
		</div>
	</body>
</html>
