<!DOCTYPE html>
<html lang="en">
	<%- include('head') -%>
	<body>
		<div class="outer">
			<div class="columns" id="top">
				<a class="columns" href="/">
					<img src="images/linkastream.png" />
				</a>
				<p>The fastest way to find a direct stream url for a live stream</p>
			</div>
			<div class="inner columns">
				<div class="vblock" id="leftblk"></div>
				<div class="vblock" id="centerblk">
					<div id="search-results" class="columns vblock">
						<div id="search-bar">
							<form action="search?url=" class="columns">
								<input class="text-input" type="text" placeholder="Paste Video Url" name="url" />
								<button id="search-btn" onclick="startAnim()">Search</button>
							</form>
						</div>
						<div id="results" class="columns"><%- include('results') -%></div>
						<div id="center-ad" class="vblock">
							<!-- <a href="https://placeholder.com"><img src="https://via.placeholder.com/468x60?text=+Full +Banner" /></a> -->
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<ins
								class="adsbygoogle"
								style="display: block"
								data-ad-client="ca-pub-1248148050005283"
								data-ad-slot="8626015504"
								data-ad-format="auto"
								data-full-width-responsive="true"
							></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					</div>
				</div>
				<div class="vblock" id="rightblk"></div>
			</div>
		</div>
	</body>
</html>
