#content {
	width: 100%;
	margin: auto;
	overflow: auto;
}
table {
	color: white;
	margin: auto;
	border-spacing: 20px;
	background-color: #290349;
	border-radius: 14px;
}
thead {
	border-bottom: #8eb0d6 solid;
}
td {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50vw;
	white-space: nowrap;
	/* margin: auto; */
	/* padding-right: 50px; */
}
tr {
	/* margin: auto; */
	border-spacing: 5px;
	font-family: "roboto";
	margin-bottom: 1.5em;
}
th {
	font: large comfortaa;
	text-align: left;
	cursor: pointer;
}

.copybtn {
	background-color: #8eb0d600;
	padding: 0;
	color: #8eb0d6;
	text-align: center;
	margin: auto;
	cursor: pointer;
	min-width: max-content;
	font-size: large;
}
#link-text {
	font: medium "Source Code Pro", monospace;
}
span {
	font-family: "Material Icons";
}
.off {
	display: none;
}


/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

#hist-checkbox:checked + .slider {
	background-color: #2196f3;
}

#hist-checkbox:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

#hist-checkbox:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
#tablebtns{
	width: 84%;
	margin: 1em auto;
	display: flex;
	overflow: hidden;
}
#hist-lbl{
	color: #8eb0d6;
	padding: 5px;
	font: large 'Roboto';
}
#switch-cont{
	margin-top: 7px;
	margin-left: 5px;
}
#hist-switch{
	display: flex;
}
#clear-hist{
	margin: unset;
	margin-left: auto;
	background-color: #8eb0d6;
}