.inner {
	max-width: 95%;
	overflow: auto;
	margin: auto;
}

.grid-cont {
	display: grid;
	overflow: auto;
	margin: auto;
	width: max-content;
	align-items: center;
	grid-template-columns: repeat(1, 1fr);
}
#content {
	width: 100%;
	display: flex;
	margin: auto;
	overflow: auto;
}
body {
	overflow: auto;
}
table {
	color: white;
	margin: auto;
	border-spacing: 20px;
	background-color: #290349;
	border-radius: 14px;
	margin-bottom: 25px;
	width: 100%;
}
thead {
	border-bottom: #8eb0d6 solid;
}
td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 20px;
}

tr {
	border-spacing: 5px;
	font-family: "roboto";
	margin-bottom: 1.5em;
}
th {
	font: large comfortaa;
	text-align: left;
	cursor: pointer;
}
span {
	font-family: "Material Icons";
}
.tbllinks {
	max-width: 30vw;
}
.timestamp {
	min-width: 120px;
}

.copybtn {
	background-color: #8eb0d600;
	padding: 0;
	color: #8eb0d6;
	text-align: center;
	margin: auto;
	cursor: pointer;
	min-width: max-content;
	font-size: large;
}
#link-text {
	font: medium "Source Code Pro", monospace;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	overflow: hidden;
	height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

#hist-checkbox:checked + .slider {
	background-color: #2196f3;
}

#hist-checkbox:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

#hist-checkbox:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
#tablebtns {
	width: 95%;
	margin: 1em auto;
	display: flex;
	overflow: hidden;
}
#hist-lbl {
	color: #8eb0d6;
	font: large "Roboto";
	line-break: none;
	white-space: nowrap;
}
#switch-cont {
	margin-top: 3px;
	margin-left: 5px;
}
#hist-switch {
	display: flex;
}
#clear-hist {
	margin: unset;
	margin-left: auto;
	background-color: #8eb0d6;
}
.history-off::before {
	margin-left: 0;
	margin-top: 0%;
}

.history-off {
	margin-top: 10vh;
	transition: 200ms linear;
	margin-bottom: 5%;
	transform: scale(1.8);
}
.history-on {
	margin-left: 0%;
	margin-top: 0%;
	transition: 200ms linear;
}

.history-on::before {
	margin-top: 10vh;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}
.off {
	display: none;
}
#psudop {
	visibility: hidden;
	margin-left: auto;
}
#no-hist-msg {
	width: 100%;
	height: 100%;
	margin-top: 35vh;
	font-size: 30px;
}
