* {
	overflow: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
p {
	font-family: "Comfortaa";
	text-align: center;
	word-wrap: normal;
	color: #fff;
	font-size: larger;
}
.text-input {
	margin:auto;
	margin-bottom: 3%;
	border-radius: 5px;
	height: 3em;
	font-size: large;
	padding-left: 1em;
	text-align: center;
	width: 90%;
	min-width: 150px;
	max-width: 700px;
}

button {
	padding: 0.5em;
	border-radius: 6px;
	color: rgb(26, 26, 26);
	font-family: "Roboto";
	text-decoration: none;
	border: none;
	text-align: center;
	margin: auto;
	cursor: pointer;
	min-width: max-content;
	font-size: large;
}

body {
	background-color: #1A0030;
	height: 100vh;
}

.columns {
	display: flex;
	flex: 0 1;
	flex-direction: column;
}
.inner {
	display: flex;
	flex-direction: row;
	margin: auto;
}
.vblock {
	margin: auto;
}
#centerblk {
	width: 100%;
	height:  max-content;
	overflow-y: auto;
	overflow-x: hidden;
	/* height: 100%; */
}
#search-results {
	width: 80%;
}
#results {
	text-align: center;
}
#results p {
	padding: 2% 0;
}
#link p {
	font-family: Source Code Pro, monospace;
}
#top {
	display: flex;
	width: 80vw;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 2em;
}
#top a img {
	width: 250px;
	/* width: 30%; */
	height: auto;
	margin: auto;
}
#top p {
	max-width: 70%;
	margin: auto;
	margin-top: 1.5em;
	padding: 2% 0;
}
#output {
	margin: auto;
}
#link {
	overflow-y: scroll;
	overflow-wrap: break-word;
	text-align: center;
	max-height: 10vh;
	max-width: 90%;
	margin: auto;
	margin-bottom: 2%;
}

#search-btn {
	background-color: #63cdcf;
	width: 250px;
}
#copybtn {
	background-color: #8eb0d6;
}

#savebtn {
	background-color: #63cdcf;
}
#buttons {
	max-width: 700px;
	min-width: 200px;
	width: 80%;
	display: grid;
	align-items:flex-end;
	/* grid-template-columns: repeat(4, 1fr);` */
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	/* flex-wrap: wrap; */
	/* flex-grow: inherit; */
	margin: auto;
}
#buttons button {
	white-space: nowrap;
	margin: 0.5rem;
}
#donatebtn {
	background-color: #e5c07b;
	margin: auto;
}

#sourcelink {
	font-size: 0;
	margin: -1.5%;
}
#expiry {
	font-size: small;
	margin-top: -1.5%;
}
#supportedbtn {
	background-color: black;
	color: white;
	margin-right: 0;
	margin-top: 1%;
	margin-left: auto;
}
#suported {
	display: flex;
	width: 95vw;
	margin-right: auto;
}
